* {
  padding: 0;
  margin: 0;
}

.main_container {
  width: 100%;
  margin: 0 auto;
}

.inner_container {
  max-width: 1190;
  padding-top: 22px;
  width: 100%;
  margin: 0 auto;
}

.fluid {
  background: #1f2937;
  position: relative;
}

.navebar {
  max-width: 469px;
  width: 100%;
}

.list_items {
  color: white;
  display: flex;
  gap: 40px;
  font-family: "Inter", sans-serif;
  justify-content: center;
}

.list_items li {
  list-style-type: none;
}

.login {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #34d399;
  font-family: "Inter", sans-serif;
}

.button {
  font-family: "Inter", sans-serif;
  background-color: #04aa6d;
  border: 1px solid green;
  color: white;
  max-width: 129px;
  width: 100%;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

.Sign {
  display: flex;
  gap: 36px;
  justify-content: center;
}

.main_flex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 22px;
  max-width: 1606px;
  margin: auto;
  align-items: center;
}

.Dream {
  font-family: "Inter", sans-serif;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content:end;
  width: 100%;
padding-left: 280px;
}

.Catagory {
  max-width: 821px;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Inter", sans-serif;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  bottom: -53px;
  right: 0;
  background: #FFFFFF;
  box-shadow:  5px 5px  rgb(228, 227, 227);
}
 


.Here {
  height: 120px;
  border: 1px solid #d1d5db;
}

.Skills {
  display: flex;
  max-width: 102px;
}

.btn {
  max-width: 161px;
  width: 100%;
  background: #10b981;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  border: none;
  
}


.heading {
  /* max-width: 432px; */
  width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  text-align: left;
}

.para {
  /* max-width: 444px; */
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
}

.para_1 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
}

.svg {
  display: flex;
  gap: 16px;
  justify-content:start;
  align-items: center;

}

.flxxe {
  display: flex;
  gap: 133px;
  justify-content: center;
  align-items: center;
  max-width: 1400;
  margin-left: auto;
  padding-left: 80px;

}

.Location {
  max-width: 1013px;
  width: 100%;
  border-color: 2px solid red;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

/*  second_block  */

.Sudiot {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
  color: #10b981;
  padding-top: 244px;
}

.Software {
  justify-content: center;
  background: #ffffff;
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  gap: 34px;
  flex-direction: column;
}


.heading_2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.View {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.flap_x {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 80px;
}

.img {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  gap: 141px;
}

.fly {
  max-width: 433px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.heading_3 {
  max-width: 404px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
}

.para_2 {
  font-family: "Inter", sans-serif;
  max-width: 406px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.svg_2 {
  display: flex;
  align-items: center;

  gap: 12px;
}

.Total {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.svvggg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
  font-family: "Inter", sans-serif;
}

.whenever {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

.dfreg {
  display: flex;
  gap: 54px;
}

/* third_block */
.Learn12{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.third_heading {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  padding-top: 160px;
}

.third_para {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 624px;
  width: 100%;
  padding-top: 16px;
  margin: auto;
}

.Muhammad {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  padding-top: 36px;
}

.skills {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  max-width: 262px;
  width: 100%;
  margin: auto;
}

.browse {
  max-width: 329px;
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  cursor: pointer;
  margin-top: 88px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-bottom: 36px;
}
/* .imagell{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
} */
/* .browse:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */
.Rectangle {
  max-width: 100px;
  width: 100%;
  border-radius: 77px;
  border: 3px; /* Add a solid style to the border */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Changed from absolute */
  top: -26px; /* Resetting top */
  text-align: center;
  left: 100px;
}

/* .Rectangle{
max-width: 100px;    
width: 100%;
border-radius: 77px;
border: 3px;
margin: auto;
display: flex;
position: absolute;
top: -37px;
margin-left: auto;
margin-right: auto;
justify-items: center;
text-align: center;
} */

.learn_more {
  max-width: 139px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 8px;
  color: #10b981;
  margin: auto;
  display: flex;
  justify-content:start;
  cursor: pointer;
  border-color: white;
}

.learn_more:hover{
  background-color: pink;
}


.colum {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.class {
  display: flex;
  justify-content: center;
  gap: 36px;
}

/* four_block */
.than {
  max-width: 688px;
  width: 100%;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  padding-top: 160px;
}

.that {
  font-family: "Inter", sans-serif;
  padding-top: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.svg_55 {
  display: flex;
  justify-content: center;
  gap: 29.59px;
  padding-top: 81px;
}

.svg_56 {
  display: flex;
  justify-content: center;
  gap: 30.59px;
  padding-top: 20.74px;
  padding-bottom: 159.74px;
}

.Contact {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  padding-top: 128px;
}

.Finding {
  max-width: 1061px;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: auto;
  padding-top: 56px;
}

.viewBox {
  display: flex;
  justify-content: center;
  gap: 15.54px;
  padding-top: 56px;
}

.svg_00 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lot {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.svg_12 {
  display: flex;
  justify-content: center;
  gap: 152px;
  padding-top: 80.54px;
  padding-bottom: 80px;
}
.fluid_1 {
  background: #1f2937;
}
.img-con{
  width: 100%;
  display: flex;
  justify-content: end;
  position: relative;
  top: 58px;
}